<!-- app.component.html -->
<input type="file" (change)="LeerExcel($event)" />

<input class="bg-blue-200" type="file" (change)="leerBaseNueva($event)" />

<input class="bg-blue-500" type="file" (change)="leerPesosUmbrales($event)" />
<button class="bg-green-200" (click)="simulacion()">simular</button>
<div class="flex h-screen bg-black">
  <!-- Sidebar / Drawer -->
  <app-sidebar></app-sidebar>
  <!-- Content -->
  <div class="ml-72 p-6">
    <h1 class="text-3xl font-semibold text-gray-800">Bienvenido</h1>
    <img src="assets/home.jpeg" alt="" srcset="" height="100px" />
  </div>
</div>
